<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FCTB" version="2.16.24" targetFramework="net48" />
  <package id="MessagePack" version="2.5.140" targetFramework="net48" />
  <package id="MessagePack.Annotations" version="2.5.140" targetFramework="net48" />
  <package id="MessagePackAnalyzer" version="2.5.140" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.NET.StringTools" version="17.9.5" targetFramework="net48" />
  <package id="Microsoft.OpenApi" version="1.6.14" targetFramework="net48" />
  <package id="Microsoft.OpenApi.Readers" version="1.6.14" targetFramework="net48" />
  <package id="PropertyGridEx" version="1.0.0" targetFramework="net48" />
  <package id="SharpYaml" version="2.1.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>